# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

node_modules/
.env
.DS_Store

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log